* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.font-sm {
  font-size: 0.875rem;
}
.font-lg {
  font-size: 2rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid-week {
  grid-template-columns: repeat(7, 1fr);
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.gap-m {
  gap: 0.5rem;
}

.gap-sm {
  gap: 0.25rem;
}

.btn {
  border: none;
  background: none;
}

.btn:hover {
  cursor: pointer;
}
